@charset "utf-8";

/* CSS Document */

div {
    /*border:1px solid #F00;*/
}

.z_fcolor10 {
    color: #666;
}

.z_bluebk {
    background-color: #00A0DA;
}

.z_lineheigh30 {
    line-height: 30px;
}

.z_padding10 {
    padding: 10px;
}

.z_fontcwhile {
    color: #fff;
}

.z_margintop10 {
    margin-top: 15px;
}

.z_margintop30 {
    margin-top: 30px;
}

.z_marginleft20 {
    margin-left: 20px;
}

.z_marginleft30 {
    margin-left: 30px;
}

.z_border_f3 {
    border: 1px solid #f3f3f3;
}

.z_border_cc {
    border: 1px solid #ccc;
}

.z_download_btn {
    position: relative;
    height: 1px;
}

.z_download_btn img {
    float: right;
    margin-top: -80px;
    margin-right: 10px;
}

.z_fontright {
    text-align: right;
}

.z_fontcenter {
    text-align: center;
}

.z_fontptop10 {
    padding-top: 10px;
}

.z_fontpbottom10 {
    padding-bottom: 10px;
}

.z_zonebox {}

.z_zonebox a {
    float: left;
    margin: 5px 5px 0px 5px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.z_zh1 {
    position: relative;
}

.z_titleh5 {}

.z_titleh5 a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.z_contenttitle {
    font-size: 15px;
    font-weight: bold;
}

.z_contentfont {
    font-size: 15px;
    line-height: 25px;
    color: #666;
}

.z_more_btn {}

.z_more_btn a {
    float: right;
    display: block;
    background: #00a0da;
    padding: 5px 20px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.z_more_btn2 {}

.z_more_btn2 a {
    float: right;
    display: block;
    background: #00a0da;
    padding: 5px 20px;
    font-weight: bold;
    color: #FFF;
}

.z_more_btn3 {}

.z_more_btn3 .z_more_a {
    float: right;
    display: block;
    background: #00a0da;
    padding: 5px 20px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.z_more_btn3 .z_more_img {
    float: right;
    display: block;
    font-weight: bold;
    margin: 10px
}

.z_more_btn3 .z_more_gray {
    float: right;
    display: block;
    background: #00A0DA;
    padding: 5px 20px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.z_radius50 {
    background: #FFF;
    border-radius: 50%;
    border: 3px solid #999;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
}

.bluefont {
    color: #00A0DA;
}

.z_titlebtn6-2 {
    height: 1px;
    position: relative;
}

.z_titlebtn6-2 a {
    float: right;
    margin-top: -30px;
}

.z_titlebtn6-3 {
    height: 1px;
    position: relative;
}

.z_titlebtn6-3 a {
    float: right;
    margin-top: -10px;
}

.z_-left15 {
    margin-left: -15px;
}

.z_remove_m {
    margin: 0 !important;
}

.z_titlepage {}

.z_titlepage a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.z_fontc333 {
    color: #333;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 0.1em;
}

.z_fontc666 {
    color: #666;
    font-size: 15px;
    padding-top: 10px;
}

.zone_left_blueline {
    border-left: 3px solid #39F;
    padding: 3px 0px 3px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.zone_boxblue {
    background: #00A0DA;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #FFF;
    text-align: center;
}

.zone_nomargin {
    margin: 10px 0px 0px 0px;
}

.zone_boxtitle {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}

.zone-bottom-20 {
    margin-bottom: 20px;
}